#wrapper{
	width: 95%;
	height: 98vh;
	padding: 0px;
	margin: 15px 5px 15px 30px;
	border: 5px solid green;
	border-radius: 10px;
}
#left-all-stocks{
	width:24%;
	height: 92vh;
	background-color: #e0e0e0;
	float:left;
	margin:1%;
	border-radius: 10px;
	overflow: scroll;
}
input{
	border-radius: 5px;
}
#middle-single-stock{
	width: 45%;
	height: 92vh;
	overflow: scroll;
	text-align: center;
	background-color: #00ffcc;
	margin:1%;
	float:left;
	border-radius: 10px;
}
#right-graphs{
	width:24%;
	height: 92vh;
	background-color: #e0e0e0;
	margin:1%;
	float:left;
	border-radius: 10px;

}
#get-stock-text{
	text-align: center;
	font-size: 32px;
	font-weight: bold;
	margin-top: 20px;
}
#get-stock-text-info{
	text-align: center;
	font-size: 20px;
}
 #get-stock-input{
 	text-align: center;
 	font-size:18px;
 	width:100%;
 }
 #get-stock-input input{
 	width:90%;
 }
.active{
	background-color:white;
}
.stock-change{

}
.green-text{
	font-size: 32px;
	color: black;
	font-weight: bold;
}
.bold{
	font-weight: bold;
	display: inline;
}
#stock-filter input{
	font-size: 24px;
}
#stock-filter input, .green-text{
	margin-top: 30px;
}
.stock-symbol{
	float:right;
	color:blue;
	font-size:10px;
}
.stock-container{
	margin: 10px;
	padding: 10px;
	border: 1px solid black;
	border-radius: 5px;
}
.change-positive{
	color:green;
}
.change-negative{
	color:red;
}
.detail-prop{
	background-color: #e0e0e0;
	padding:10px;
	margin:5px;
	border: 1px solid black;
	border-radius: 5px;
	overflow:hidden;
}
.value{
	float:right;
	margin:auto;
}
.stock-properties{
}
.attribute{
	text-align: left;
	float:left;
}
h2{
	text-align: center;
}
.twelve-month-image, .three-month-image{
	margin:2%;
	height:214px;
}